body{
	padding-top: 70px;
	padding-bottom: 20px;
}
footer{
	background-color: #EEE;
	border-top: 10px solid #BBB;
	font-size: 14px;
	padding: 10px;
	text-align: center;
}
.box-principal{
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
.titulo{
	text-align: center;
}
.imagen-avatar{
	height: 50px;
	width: 50px;
}